<!--The content below is only a placeholder and can be replaced.-->


<a routerLink="/menu"> menu</a>
<a routerLink="/ng-for-ng-if"> ng if / for</a>
<a routerLink="/if-else"> if else</a>
<a routerLink="/data-binding"> data binding</a>
<a routerLink="/event-binding"> event binding</a>
<a routerLink="/tdlproject"> To do List</a>
<a routerLink="/communication"> Coponent communicatio</a>
<a routerLink="/lokalna-referencja">Local reference</a>
<a routerLink="/life-cycle">Life Cycle</a>
<a routerLink="/tdlv2">TDL 2.0</a>
<a routerLink="/stylowanie">Stylowanie</a>
<a routerLink="/klikacz">klikacz</a>

<h1>
  Welcome to {{ title }} young jedi!
</h1>

<div class="outlet">
  <div style="text-align:center">







    <router-outlet></router-outlet>
  </div>
